
<body>

    <header>
        <nav>
            <h1 class="title">SALA DE JUEGOS</h1>
            <ul>
                <li>
                    <button class="btn-who" (click)="Mostrarme()">¿Quien Soy?</button>
                </li>
                <li>
                    <button class="logout" (click)="Logout()">Cerrar Sesion</button>
                </li>
                
            </ul>
        </nav>
    </header>

    <main class="game-options">

        <section class="option" id="preguntados">
            <h2>Preguntados</h2>
            <button (click)="jugarPreguntados()">jugar</button>

        </section>
        
        <section class="option" id="mayor-menor">

            <h2>Mayor o menor</h2>
            <button (click)="jugarMayorMenor()">jugar</button>

        </section>
        

        <section class="option" id="ahorcado">
            <h2>Ahorcado</h2>
            <button (click)="jugarAhorcado()">jugar</button>
        
        </section>

    </main>

</body>


