<body>
    
    <header>
        <nav>
            <h2 class="title">Ahorcado</h2>
            <ul>
                <li>
                    <button (click)="volverHome()">volver al menu principal</button>
                </li>

                <li>
                    <button (click)="reiniciarJuego()">Reiniciar juego</button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="ahorcado" *ngIf="juegoTerminado == false">

        <h2>Adivina la palabra</h2>
        <img src="{{imagenActual}}" class="ahorcado-imagen">
        <p id="palabra">{{palabra}}</p>
        <p id="palabras-usadas">Palabras usadas: {{this.letrasUsadas.join(" , ")}} </p>
        <div class="letras">
            <button (click)="compararletra(letra)" 
             *ngFor="let letra of letras"
             [disabled]="this.letrasUsadas.includes(letra)">{{letra}}</button>
        </div>

    </div>

    <div *ngIf="juegoTerminado" class="resultado-juego">
        <h1>{{resultado}}</h1>

    </div>

    
            
    
    

</body>
