<body>
    
    <header>
        <nav>
            <h2 class="title">Ahorcado</h2>
            <ul>
                <li>
                    <button (click)="volverHome()">volver al menu principal</button>
                </li>

                <li>
                    <button (click)="reiniciarJuego()">Reiniciar juego</button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="ahorcado">

        <h2>Adivina la palabra</h2>
        <img src="{{url}}" class="ahorcado-imagen">

    </div>

    <div class="palabra">

    </div>

</body>
