
<body>


  <main class="form-signin">
    <div class="background-image"></div>
      <div>
        <h1 class="h3 mb-3 fw-normal" id="titulo">Registrarse</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="register" placeholder="nombre@ejemplo.com" [(ngModel)]="mail">  
          <label for="register">correo electronico</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="Password" placeholder="contraseña" [(ngModel)]="clave">
          <label for="Password">contraseña</label>
        </div>
        
        <button class="btn btn-primary w-100 py-2" type="submit" (click)="Registrar()">Registrarse</button>
        <br>
        <br>
        <a routerLink="/login"  routerLinkActive="active-route" class="iniciar-sesion"> ¿Ya tenes una cuenta? inicia sesion.</a>
      </div>

      <div class="alert alert-danger" role="alert" id="error" *ngIf="this.registrado == false"> 
        {{ msjError }}
      </div>
  </main>
  

</body>


