
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-1c9ea.appspot.com/o/juegos.jpg?alt=media&token=55c3e2da-1490-4df5-8892-b1ae0c34f281');
    background-size: cover; /* Cubre toda el área del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    z-index: -1; /* Asegura que la imagen quede detrás del contenido */
}

body {
    min-height: 100vh;
    box-sizing: border-box;
}


.form-signin {
    max-width: 330px;
    padding: 2rem;
    background-color: black; /* Color de fondo opcional */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
    justify-content: center;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
    
}
.form-signin h1 {
    color: white; /* Cambia el color a blanco */
}
.form-signin input[type="email"], 
.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.iniciar-sesion{
    color: white;
    text-align: center;
    font-size: medium;
    
}

#titulo{
    font-size:x-large;
}

.alert-danger{
    position: absolute;
    margin-top: 15px; /* Añade espacio superior */
    max-width: 330px; /* Igual que el formulario */
    text-align: center; /* Centrado */
    margin-left: auto; /* Centra horizontalmente */
    width: 220px;
    
}

.alert-success{

    margin-top: 15px; /* Añade espacio superior */
    max-width: 330px; /* Igual que el formulario */
    text-align: center; /* Centrado */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */

}

a{
    text-align: center;
}
